<div class="flex gap-2 items-center">
	<div data-click="onTextClick">
		{text}
	</div>
	<div data-click="onSiteClick">
		{site}
	</div>
	<div>
		{mapClass}
	</div>
	<div data-class="mapClass">
		{map}
	</div>
	<div>
		{tag.name}
	</div>
	<div>{profile}</div>
	<div data-list="mapList">
		<div>{name}</div>
	</div>
	<input data-model="text" />
	<input data-on-input="onTempInput">
</div>
<script>
$spa.initCustomElement({
	name: 'temp',
	attrs: ['text', 'site', 'map', 'tag', 'profile', 'map-class', 'map-list'],
	events: ['input'],
});

const { element, proxy } = $spa.getRoots($componentId)

proxy.text = '500'
proxy.map = '400'


const store = $spa.bindStore('auth', {
	profile: 'profile',
})

$spa.watch('mapClass',(value)=>{
	console.log(value)
})

$spa.watch('text',(value)=>{
	element.emit('input',value)
})

proxy.mapList = [{
	name: 'Hello'
},{
	name: 'create'
}]

function onTextClick() {
	proxy.site = '333'
	proxy.tag = {
		name: 'fff'
	}

	proxy.mapClass = 'bg-gray-400 p-4'	
}

function onSiteClick() {
	proxy.site = '222'
	proxy.tag = {
		name: 'qq'
	}	
}

function onTempInput(event) {
	proxy.mapClass = event.target.value
}


setTimeout(()=>{
	proxy.site = 'new site'
	proxy.tag = {
		name: 'value'
	}

	element.emit('input',123)
	
},3000)


setTimeout(()=>{
	element.emit('input',{ a: 'asd'})
	proxy.text = 111111
},4000)


function getMap(){
	return proxy.text  + $componentId
}

</script>