<div class="py-1 px-2 rounded-md border cursor-pointer inline-block">
	<div data-text></div>
	<div data-slot></div>
</div>
<script>

const componentId = document.currentScript.id

const component = $spa.initCustomElement({
	name: 'button',
	componentId,
	attrs: ['icon','text'],
	change(target, prop, value){
		if(prop === 'text') {
			const doc = target.querySelector('[data-text]')
			if(doc) {
				doc.textContent = value
			} else {
				target.textContent = value
			}
		}
	},
})

const InterButton = $spa.bindCustomComponent(component,{
	icon: null,
	text: "new",
	click(event){
		console.log('Click', componentId)
	}
})


</script>
