<div class="py-1 px-2 rounded-md border cursor-pointer inline-block">
	<div>{text}</div>
	<div data-slot></div>
	<div>{name}</div>
	<div data-show="skipedIcon">{icon}</div> 
</div>
<script>

const componentId = document.currentScript.id

const component = $spa.initCustomElement({
	name: 'button',
	componentId,
	attrs: ['icon','text', 'name', 'skipedicon'],
})

const InterButton = $spa.bindCustomComponent(component,{
	getName(){
		return InterButton.text + '   ' + InterButton.icon
	},
	click(event){
		console.log('Click', componentId)
	},
	init(proxy){
		proxy.text = 'huiac'
		proxy.icon = 'icon'
		proxy.name = 1
		proxy.skipedIcon = true
	}
})


setTimeout(()=>{
	InterButton.text = 'qwe'
	InterButton.name = InterButton.getName()
	InterButton.skipedIcon = true

},3000)
</script>
