<div class="bg-blue-200 h-full flex flex-col">
	<div class="grow-1">{chat.id}</div>
	<div class="shrink-0">
		<div class="" data-list="chatMessages" data-list-name="message" data-list-key="message.id">
			<div data-class="getMessageClass">
				<div class="p-2">{message.text}</div>
				<div class="text-bold">{message.author}</div>	
			</div>
		</div>
		<div class="sticky bottom-0 grow-1 gap-4 flex p-4 w-full ">
			<input class="flex-1 bg-gray-200 border" data-value="inputValue" />
			<app-button-action data-click="onSendClick">Send</app-button-action>	
		</div>
	</div>
</div>

<script type="module">
import { getFireSnapshot, addFireDoc, getUser } from './js/firestore/lib.js'
import { sendMessage, chatsStore, loadChatMessagesSorted } from './js/store/chats.js'
import { usersStore, loadProfilesByIds } from './js/store/users.js'

const messagesStore = {}

$spa.initCustomElement({
	name: 'chat',
	attrs: ['chat-messages', 'input-value', 'chat', 'get-chat-title'],
});

const buildName = (data)=>{
	const item = usersStore.profiles[data.creator]
	if(item){
		data.author = item.username || item.email
	}
	return data
}

// usersStore.watch('profiles',(val)=>{
// 	console.log(222, val)
// })

$proxy.getChatTitle = ()=>{
	return chatsStore.currentChat.email
}


$proxy.getMessages = (val)=>{
	const chatId = $proxy.chat?.id

	return chatsStore.messagesByChat[chatId] || []
}
const chatsListeners = {}

chatsStore.watch('messagesByChat', (val)=>{
	const chatId = $proxy.chat?.id
	$proxy.chatMessages = val[chatId] || []

})

chatsStore.watch('currentChatMessages', val=>{
	$proxy.chatMessages = val
})

$spa.watch('chat', async ()=>{
	const val = $proxy.chat

	if(!val?.id) return
	loadProfilesByIds(Object.keys(val.members))
	await loadChatMessagesSorted(val.id)
	$proxy.chatMessages = chatsStore.messagesByChat[val.id] || []
})

$proxy.inputValue = ''
$proxy.chat = ''

$proxy.getMessageClass = (index)=>{

	if(index === null || index === undefined) return
 	const message = $proxy.chatMessages[parseInt(index)]

	const classList = ['flex']
	if(message?.creator === getUser().uid) {
		classList.push('justify-end')
	} else {
		classList.push('justify-start')
	}
	return classList.join(' ')
}

function onSendClick(){
	if(!$proxy.chat || !$proxy.chat?.id) return

	sendMessage({
		chat: $proxy.chat.id,
		text: $proxy.inputValue,
		type: 'user', // room, group, entity
		to: Object.keys($proxy.chat.members),
	})

}
</script>