<div class="bg-blue-200 h-full">
	<div class="grow-1">{chat.id}</div>
	<div class="">
		<div class="shrink-0" data-list="chatMessages">
			<div>
				<div data-class="getMessageClass">{text}</div>
				<div data-class="getMessageClass">{author}</div>	
			</div>
		</div>
		<div class="sticky bottom-0 grow-1 gap-4">
			<input data-value="inputValue" />
			<app-button-action data-click="onSendClick">Send</app-button-action>	
		</div>
	</div>
</div>

<script type="module">
import { getFireSnapshot, addFireDoc, getUser } from './js/firestore/lib.js'
import { sendMessage, chatsStore } from './js/store/chats.js'

const messagesStore = {}

$spa.initCustomElement({
	name: 'chat',
	attrs: ['chat-messages', 'input-value', 'chat', 'get-chat-title'],
});

const buildName = (data)=>{
	// const item = chatsStore.userChats.find(item=>item.id === data.creator)
	// if(item){
	// 	data.author = item.email
	// }
	// return data

	data.author = data.creator
	return data
}

$proxy.getChatTitle = ()=>{
	console.log(chatsStore.currentChat)
	return chatsStore.currentChat.email
}

const chatsListeners = {}

$spa.watch('chat', ()=>{
	const val = $proxy.chat
	if(!val?.id) return

	if(!messagesStore[val.id]) {
		if(chatsListeners[val.id]) return
		messagesStore[val.id] = []
		$proxy.chatMessages = []
		chatsListeners[val.id] = getFireSnapshot('messages',  [['chat', '==', val.id]],{ 
			add: (data)=> {
				messagesStore[val.id].push(buildName(data))
				$proxy.chatMessages.push(buildName(data))
			} 
		})
	} else {
		$proxy.chatMessages = [...messagesStore[val.id]]
	}
})

$proxy.inputValue = ''
$proxy.chat = ''

$proxy.getMessageClass = (index)=>{
	if(!index) return
 	const message = $proxy.chatMessages[parseInt(index)]

	const classList = ['flex']
	if(message.creator === getUser().uid) {
		classList.push('justify-end')
	} else {
		classList.push('justify-start')
	}
	return classList.join(' ')
}

function onSendClick(){
	if(!$proxy.chat || !$proxy.chat.id) return

	sendMessage({
		chat: $proxy.chat.id,
		text: $proxy.inputValue,
		type: 'user', // room, group, entity
		to: Object.keys($proxy.chat.members),
	})
}
</script>