<div class="h-full">
	<div class="sticky bottom-0 flex justify-around gap-2 overflow-scroll-x" data-list="chats">
		<div data-class="getChatNameClass" data-click="onChatClick">
			<div>{getChatName}</div>
		</div>
	</div>
</div>
<script type="module">
import { setupUserChatsSnapshot } from './js/store/chats.js'
import { authStore } from './js/store/auth.js'
import { usersStore } from './js/store/users.js'
import { chatsStore, setCurrentChat } from './js/store/chats.js'

$spa.initCustomElement({
	name: 'chats',
	attrs: ['chats'],
	events: ['clickchat'],
});

$proxy.chats = []
$proxy.currentChat = null

$proxy.getChatName = (index)=> {
	//console.log(222,index)
	const item = $proxy.chats[index]
	if(item){
		return item.email || item.id
	}
}
$proxy.getChatNameClass = (index)=> {
	const item = $proxy.chats[index]
	const color = item?.id === $proxy.current?.id ? 'bg-gray-500' : 'bg-gray-300'

	return 'p-2 cursor-pointer ' + color
}

usersStore.watch('profiles',(val)=>{
	const chats = chatsStore.userChats.map(item=>{
		const apponent = Object.keys(item.members).filter(item=>item!==authStore.getUserId())

		if(val[apponent]) {
			item.email = val[apponent].email
		}
		return item

	})
	$proxy.chats = chats
})	

authStore.watch('profile',()=>{
	setupUserChatsSnapshot()
})

function onChatClick(event){
	const val = $proxy.chats[event.target.dataset.listIndex]
	setCurrentChat(val)
	$proxy.currentChat = val
	$element.emit('clickchat', val)
}
</script>