<header class="sticky top-0">
	<div data-slot></div>

	<app-navigation></app-navigation>

	<label class="flex gap-4 items-center">
		<span>search</span>
		<input class="text-gray-500" data-header-input placeholder="search" />
	</label>

	<div class="flex items-center gap-[24px]">
		<app-button-action data-click="onLogoutClick">
			<div>Log out</div>
		</app-button-action>
	</div>

	<app-profile></app-profile>
</header>


<script type="module">	

import { logout } from './js/firestore/lib.js'

$spa.initCustomElement({
	name: 'header',
	attrs: ['text','images', 'profile', 'loaded', 'list'],
});

function onLogoutClick(){
	alert(1)
	logout()
}
</script>
<style>
	
	header {
		padding: 1rem;
		background: green;
		color: white;
		display: flex;
		justify-content: space-between;
	}
</style>