<header class="sticky top-0">
	<div data-component="logo"></div>
	<div data-slot></div>

	<div data-component="navigation"></div>
	<label class="flex gap-4 items-center">
		<span>search</span>
		<input class="text-gray-500" data-header-input placeholder="search" />
	</label>

	<div data-component="images" data-images="1,2"></div>

	<div class="flex items-center gap-[24px]">
		<div data-profile-name></div>
		<button data-component="button"><div>Log out</div></button>
		<button data-component="button" data-get-list><div>Get list</div></button>
	</div>
</header>


<script>
		const InterHeader = $spa.bindElement(`[data-init=${CSS.escape(document.currentScript.id)}]`,{
			loaded: false,
			profile: null,
			todos: [],
			text: null,
			async loadProfile(){
				const response = await Promise.resolve([{name: 'one'}])
				InterHeader.loaded = true
				InterHeader.profile = JSON.stringify(response)
			},

			async getDrinks(){
				const url = 'https://jsonplaceholder.typicode.com/photos';
					

				const options = {
					method: 'GET',
					headers: {
						'X-RapidAPI-Key': 'SIGN-UP-FOR-KEY',
						'X-RapidAPI-Host': 'the-cocktail-db.p.rapidapi.com'
					}
				};

				try {
					const response = await fetch(url, options);
					const result = await response.json();
					console.log(result);
					InterHeader.todos = result
				} catch (error) {
					console.error(error);
				}

			},
			async click(event){
				if($spa.checkParentHasAttribute(event.target,'data-get-list')){
					InterHeader.getDrinks()
				}
			},

		}, 	
		{ 
			update(prop, value, target) {
				if(prop === 'text') {
					const div = target.querySelector('button')
					div.hidden = false
				}
				if(prop === 'todos') {
					const div = target.querySelector('[data-component=images]')
					div.setAttribute('data-images',value.map(item=>item.url))
				}
			}

		})

		InterHeader.text = 10
		InterHeader.profile = { name: 'New Guy' }

		$spa.initComponent({
			name: 'header',
			attrs: (key, value, target)=>{
				if(key === 'data-text') {
					target.querySelector('input').value = value
				}
				if(key === 'data-profile') {
					target.querySelector('[data-profile-name]').textContent = value.name
				}
			},
			node: InterHeader.lib.target
		}, true)

		setTimeout(()=>{
			InterHeader.text = '18'
		},2000)

		const input = InterHeader.lib.target.querySelector(['[data-header-input]'])

		$spa.addEventListener(input, 'input',(event)=>{
			InterHeader.text = event.target.value
		})
</script>
<style>
	
	header {
		padding: 1rem;
		background: green;
		color: white;
		display: flex;
		justify-content: space-between;
	}
</style>