<div>
	Logo blaaa
	<div data-slot></div>
</div>

<script>


const componentId = document.currentScript.id


const component = $spa.initCustomElement({
	name: 'logo',
	componentId,
	attrs: ['icon','text'],
	change(target, prop, value){
		if(prop === 'icon'){
 			const div = document.createElement('div')
			div.textContent = value
			target.appendChild(div)
		}
		if(prop === 'text') {
 			const div = document.createElement('div')
			div.textContent = value
			target.appendChild(div)
		}
	},
})

const InterLogo = $spa.bindCustomComponent(component,{
	text: null,
	icon: null,
	async click(event){
		console.log('Click logo', componentId)
	},
})

setTimeout(()=>{
	InterLogo.icon = (componentId + '').slice(5,12)
},2000)
setTimeout(()=>{
	InterLogo.text = (componentId + '').slice(5,12)
},4000)
</script>