<div class="flex gap-2">
	<div data-list="navList">
		<a data-href="src" data-title="title">{title}</a>
	</div>
</div>
<script>

const componentId = document.currentScript.id

const component = $spa.initCustomElement({
	name: 'navigation',
	componentId,
	attrs: ['navlist']
})

const InterLogo = $spa.bindCustomComponent(component,{
	async click(event){
		console.log('Click navigation', componentId)
	},
	init(proxy){
		proxy.navList = [
			{
		 		src: '#profile',
		 		title: 'Profile'
			}
		]

	}
})

setTimeout(()=>{
		InterLogo.navList = [
			{
		 		src: '#profile',
		 		title: 'Profile'
			}
		, 
			{
		 		src: '#lazy',
		 		title: 'Lazy'
			}
		]
		},2000)
</script>