<div class="flex gap-4">
	<img class="w-16" data-src="profileImage">
	<img class="w-16" data-src="profile.avatar">
	<div data-click="onProfileClick">
		<div class="text-xl p-2 cursor-pointer">
			{profile.username}
		</div>
		<div>{profile.email}</div>
	</div>
</div>
<script type="module">
import { loadProfile } from './js/store/auth.js'

$spa.initCustomElement({
	name: 'profile',
	attrs: ['profile', 'role', 'profile-image'],
});

const authStore = $spa.bindStore('auth', {
	profile: 'profile'
})

$proxy.profileImage = `https://robohash.org/${Math.random()}.png`

$spa.watch('profile',()=>{
	console.log(2333,$proxy.profile)
})

function onProfileClick(){
   alert(1)
}
</script>