<div class="flex gap-2 items-center">
	<div data-click="onTextClick">
		{text}
	</div>
	<div data-click="onSiteClick">
		{site}
	</div>
	
	<div>
		{mapClass}
	</div>
	<div data-class="mapClass">
		{map}
	</div>
	<div>
		{tag.name}
	</div>
	<div>{profile}</div>
</div>
<script>
$spa.initCustomElement({
	name: 'temp',
	attrs: ['text', 'site', 'map', 'tag', 'profile', 'map-class'],
})

const { element, proxy } = $spa.getRoots($componentId)

$spa.bindStore('auth', {
	profile: 'profile'
})

// $spa.collectHandlers($componentId, {
// 	onTextClick,
// 	onSiteClick
// })

function onTextClick() {
	proxy.site = '333'
	proxy.tag = {
		name: 'fff'
	}

	proxy.mapClass = 'bg-gray-400 p-4'	
}

function onSiteClick() {
	proxy.site = '222'
	proxy.tag = {
		name: 'qq'
	}	
}

proxy.text = '500'
proxy.map = '400'


setTimeout(()=>{
	proxy.site = 'new site'
	proxy.tag = {
		name: 'value'
	}
},3000)

function getMap(){
	return proxy.text  + $componentId
}

</script>